// --------- Base constants.
// USE ONLY IT IN OTHER VARIABLES
// DO NOT USE IT IN STYLES!

textColor1 = #d1e6f5
textColor2 = #b1d1e5
textColor3 = #91b0c1
textColor4 = #869cab

textEmpColor1 = #869efe
textLightingNormal1 = 0 0 8px #8e95c3
textLightingNormal2 = 0 0 3px #9798a2

textLightingLow = 0 0 50px #f5f0f0, 0 0 30px #f54da1, 0 0 40px #f54da1, 0 0 50px #f54da1, 0 0 60px #f54da1
textLightingHigh = textLightingLow, 0 0 70px #f54da1, 0 0 80px #f54da1
textLightingHigh2 = 0 0 8px #c6c1bf, 0 0 4px #ae613c

bgColor0 = #090e0e
bgColor1 = #05151c
bgColor2 = #0c1c29
bgColor3 = #314247

empColor1 = #0b84b8
empColor2 = #40cfd4
empColor3 = #5d46b0
empColor4 = #995cd2
empColor5 = #31a77e
empColor6 = #09395b

secColor1 = #7b98c3

colorShadowLight-x = #00000015
colorShadowLight = #00000033
colorShadow =      #00000044
colorShadowDark =  #00000055
colorShadowDark-x = #000000BB

colorNo = #a13623
colorYes = #5e9b25

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 700px')
