font-large()
  font-family YsabeauInfant, monospace
  line-height 1.3
  font-size calc(1.7rem)
font-medium-large()
  font-family YsabeauInfant, monospace
  line-height 1.3
  font-size calc(1.5rem)
font-medium()
  font-family YsabeauInfant, monospace
  line-height 1.3
  font-size calc(1.5rem)
font-medium-small()
  font-family YsabeauInfant, monospace
  line-height 1.3
  font-size calc(1.25rem)
  font-weight 300
font-small()
  font-family YsabeauInfant, monospace
  line-height 1.3
  font-size calc(1rem)
font-small-extra()
  font-family YsabeauInfant, monospace
  line-height 1.3
  font-size calc(.85rem)


font-special()
  font-family MontserratAlternates, monospace


font-counter()
  font-family GothicE, monospace
  line-height 1.3
  font-size calc(1.9rem)
