@require 'constants.styl'
@require 'fonts.styl'

bg-color = linear-gradient(-20deg, empColor1 0%, empColor6 20%, bgColor1 70%, bgColor0 100%)
link-decoration-color = #d2825c
link-decoration-color-hover = #fdc57c
visited-link-color = #b17bc3
hr-color = linear-gradient(90deg, transparent, empColor1, transparent)


html
    overflow-x hidden

*
    box-sizing border-box


body
    margin 0
    width 100vw
    min-height 100vh
    position relative
    color textColor1
    background bg-color
    animation bg-move 3s ease normal forwards
    overflow-x hidden
    font-family monospace

a
    text-decoration none
    color textColor1
    transition color 0.2s ease
.link a
a.link
    color link-decoration-color
.link a:hover
a.link:hover
    color link-decoration-color-hover


hr
    height 2px
    border none
    background hr-color


#app
    width 100%
    height 100%

    .flex-root
        top-bar-height = 70px

        min-height "calc(100vh - %s)" % top-bar-height
        display flex
        flex-direction column

        .app-flex-filler
            flex 1


.flat
    @require "constantsFlatTheme.styl"

    hr-color = linear-gradient(90deg, transparent, empColor2, transparent)
    hr
        background hr-color
    #app
        .flex-root
            min-height 100vh

body.flat
    bg-color = linear-gradient(-20deg, #0b84b8 0%, #0f3146 20%, #05151c 70%, #090e0e 100%)
    background bg-color

.text-big-xx
    font-large()
    font-special()
    color textColor1
    text-shadow textLightingHigh2
    @media({mobile})
        text-shadow textLightingNormal1

.text-big-x
    font-medium-large()
    font-special()
    color textColor1
    text-shadow textLightingNormal1
    @media({mobile})
        text-shadow textLightingNormal1

.text-big
    font-medium()
    color textColor2

.text-middle
    font-medium-small()
    color textColor2

.text-small
    font-small()
    color textColor3

.text-small-x
    font-small-extra()
    color textColor4


@keyframes bg-move
    from
        background-position 100%
        background-size 1000%

    to
        background-position 0
        background-size 300%


.pc-hide
    display none
@media ({mobile})
    .mobile-hide
        display none
    .pc-hide
        display block

    //*
    //    transition opacity 0.3s ease, transform 0.3s ease !important
