@require 'constants.styl'


.addable-list
    padding 0
    list-style none
    overflow-x hidden
    > li
        margin-top 10px
        margin-bottom 10px
        display flex
        justify-content space-between

        :last-child
            margin-bottom 0
        :first-child
            margin-top 0

        > input
            flex 1
            width 100%
            padding 10px
            box-sizing border-box
            float left
        > .radio
            margin-left 20px
            margin-right 5px
        > .button
            opacity 1
            transition all 0.3s ease
            overflow hidden
            height 40px
            box-sizing border-box
            float right
            display flex
            align-content center
            justify-content center
            .arrow.right
                margin-left 5px
        > div:last-child
            width 20%
            margin-left 20px
        > div:not(:last-child)
            margin-right 20px
        > div.closed
            opacity 0
            width 0
            padding-left 0
            padding-right 0
            margin-left 0
            margin-right 0
            pointer-events none
        > .orderid
            display flex
            align-items center
            margin-right 5px
        > .move-buttons
            > .button
                padding 0 15px
    > li:first-child
        > .move-buttons
            > .button:first-child
                opacity 0.2
                pointer-events none
    > li:last-child
        > .move-buttons
            > .button:last-child
                opacity 0.2
                pointer-events none

@media ({mobile})
    .addable-list
        > li
            > .orderid
                font-size 20px
            > div:not(:last-child)
                margin-right 8px
            > div:last-child
                margin-left 8px
            > div.goto-button
                width 12%
                padding 10px 0
                .arrow
                    margin-right 5px
