@require 'constants.styl'


// [QUESTS, BRANCHES, TASKS] EDIT AND CREATE
#data-edit-form
  margin-top 0
  max-width unset
  box-sizing border-box
  #link-access-on-fields
    position relative
  .link-button
    padding 4px 4px 0px 3px
    border-radius 5px
    position absolute
    right 10px
    top 0
    .link-image
      width 20px
      height 20px
  #qr-code-image
    max-width 500px
    max-height 500px
  #link-access-link
    padding-right 30px

// TASK EDIT
#description-input.markdowned
  position relative
  width 100%
  padding-top 30px

// RATINGS
.rating-page
  .title-container
    margin-bottom 0
  .listing
    > li
      padding-left 20px
