@import 'constants.styl'

scroll-bg-color = bgColor2
scroll-thumb-color = empColor1
scroll-thumb-color-hover = empColor2
scrollbar-width-worded = bold
scrollbar-width = 10px
scrollbar-border = 2px

.scrollable:not(.mobile-not-scrollable)
  scrollbar-color scroll-thumb-color scroll-bg-color
  scrollbar-width scrollbar-width-worded
  overflow-y auto
  &::-webkit-scrollbar
    width scrollbar-width
    height scrollbar-width
  &::-webkit-scrollbar-track
    background scroll-bg-color
    border-radius (scrollbar-width / 2)
  &::-webkit-scrollbar-thumb
    background-color scroll-thumb-color
    border scrollbar-border solid scroll-bg-color
    border-radius (scrollbar-width / 2)

  &::-webkit-scrollbar-corner
    background scroll-bg-color
  &:hover
    scrollbar-color scroll-thumb-color-hover scroll-bg-color
  &:hover::-webkit-scrollbar-thumb
    background-color scroll-thumb-color-hover


@media ({desktop})
  .scrollable.mobile-not-scrollable
    scrollbar-color scroll-thumb-color scroll-bg-color
    scrollbar-width scrollbar-width-worded
    overflow-y auto
    &::-webkit-scrollbar
      width scrollbar-width
      height scrollbar-width
    &::-webkit-scrollbar-track
      background scroll-bg-color
      border-radius (scrollbar-width / 2)
    &::-webkit-scrollbar-thumb
      background-color scroll-thumb-color
      border scrollbar-border solid scroll-bg-color
      border-radius (scrollbar-width / 2)

    &::-webkit-scrollbar-corner
      background scroll-bg-color
    &:hover
      scrollbar-color scroll-thumb-color-hover scroll-bg-color
    &:hover::-webkit-scrollbar-thumb
      background-color scroll-thumb-color-hover

